body{
    margin: 0;
    padding: 0;
}

ul li{
    background-color: transparent;
    height: 35px;
    width: 190px;
    line-height: 35px;
    float: right;
    display: block;
    border: 1px solid transparent;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    
    }

ul li a{
    text-decoration: none;
    display: block;
    color: black;
}

ul li a:hover{
    background-color: #3498db;
    border-radius: 21px;
    color: #fdfefe;
}
ul li:nth-child(6) a:hover{
    background-color: #f1c40f;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(5) a:hover{
    background-color: #1b2631;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(4) a:hover{
    background-color: #28b463;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(3) a:hover{
    background-color: red;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(2) a:hover{
    background-color: pink;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(1) a:hover{
    background-color: #ca6f1e;
    border-radius: 21px;
    color: white;
}

.logo{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    height: 180px;
    width: 220px;
}

.hr-line{
    margin-top: 50px;
    margin-bottom: 40px;
}

.parallax-1 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Olympic%20Logo_1913.jpg'
    );
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-1 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 32px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
}

.para-parallax-1 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: black;

}

.parallax-2 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Olympic%20Logo_1914.jpg'
    );
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-2 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 32px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
}

.para-parallax-2 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: black;

}

.parallax-3 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Olympic%20Logo_1920.jpg'
    );
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-3 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 32px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
}

.para-parallax-3 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: black;

}

.parallax-4 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Olympic%20Logo_1957.jpg'
    );
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-4 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 32px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
}

.para-parallax-4 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: black;

}

.parallax-5 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Olympic%20Logo_1986.jpg'
    );
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-5 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 32px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
}

.para-parallax-5 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: black;

}

.parallax-6 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Olympic%20Logo_2010.jpg'
    );
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-6 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 32px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
}

.para-parallax-6 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: black;

}
.parallax-7 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/olympics%20logo.jpg'
    );
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-7 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 32px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
}

.para-parallax-7 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: black;

}

.end{
    background-color: black;
    color: white;
    }
.ring-number button{
    color: white;
    background-color: black;
    height: 70px;
    border: 35px solid black;
    margin-left: 200px;
    }
.none{
    color: black;
    }
.instaface{
    color: white;
    }
.instaface a{
    color: white;
    text-decoration: underline;
    }
.end-line{
    color: thin white;
    width: 85%;
    }
.end-titles-main{
    margin-top: 50px;
    }
.end-titles-main{
    text-align: center;
    }