body{
    margin: 0;
    padding: 0;
    font-family: Noto Sans, sans-serif;
    color: #333;
    line-height: 1.6;
}

header{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 150px;
    margin-left: 50px;
}

ul {
    list-style: none;
    display: flex;
    margin-right: 200px;
}

ul li{
    background-color: transparent;
    height: 35px;
    width: 110px;
    padding: 5px 10px;
    line-height: 35px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    display: block;
    color: #000;
}

ul li:nth-child(1) a:hover{
    background-color: #3e76ec;
    border-radius: 21px;
    color: #fdfefe;
}
ul li:nth-child(2) a:hover{
    background-color: #000000;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(3) a:hover{
    background-color: #ff0000;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(4) a:hover{
    background-color: #ffce01;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(5) a:hover{
    background-color: #179a13;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(6) a:hover{
    background-color: #f001de;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(7) a:hover{
    background-color: #00FFFF;
    border-radius: 21px;
    color: white;
}

.sports-img{
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn-img img{
    height: 200px;
    width: 359px;
    float: right;
    margin-bottom: 20px;
    padding: 0;
}

label{
    margin-top: 10px;
    font-weight: bold;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.end{
    background-color: black;
    color: white;
    }
.ring-number button{
    color: white;
    background-color: black;
    height: 70px;
    border: 35px solid black;
    margin-left: 200px;
    }
.none{
    color: black;
    }
.instaface{
    color: white;
    }
.instaface a{
    color: white;
    text-decoration: underline;
    }
.end-line{
    color: thin white;
    width: 85%;
    }
.end-titles-main{
    margin-top: 50px;
    }
.end-titles-main{
    text-align: center;
    }