body{
    margin: 0;
    font-family: Noto Sans, sans-serif;
    padding: 0;
}

ul li{
    background-color: transparent;
    height: 35px;
    width: 110px;
    padding: 0 30px;
    line-height: 35px;
    float: right;
    display: block;
    border: 1px solid transparent;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    display: block;
    color: black;
    color: #000;
}

ul li:nth-child(7) a:hover{
    background-color: #3e76ec;
    border-radius: 21px;
    color: #fdfefe;
}
ul li:nth-child(6) a:hover{
    background-color: #000000;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(5) a:hover{
    background-color: #ff0000;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(4) a:hover{
    background-color: #ffce01;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(3) a:hover{
    background-color: #179a13;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(2) a:hover{
    background-color: #f001de;
    border-radius: 21px;
    color: white;
}
ul li:nth-child(1) a:hover{
    background-color: #00FFFF;
    border-radius: 21px;
    color: white;
}

.logo{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    height: 180px;
    width: 220px;
}

.hr-line{
    margin-top: 50px;
    margin-bottom: 40px;
}

.intro-para{
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Noto Sans, sans-serif;
    color: black;
}

.parallax-1 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Home\ Page/1.jpg'
    );
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-1 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 480px;
    height: 49px;
    padding: 10px;
    background-color: rgb(0, 183, 255);
    color: white;
    text-align: center;
    font-size: 22px;
}

.para-parallax-1 {
    text-align: center;
    padding: 25px;
    font-size: 19px;
    font-family: Noto Sans, sans-serif;
    color: black;

}
.parallax-2 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Home\ Page/2.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-2 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 49px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

.para-parallax-2 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Noto Sans, sans-serif;
    color: black;

}
.parallax-3 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Home\ Page/3.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-3 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 49px;
    padding: 10px;
    background-color: red;
    color: white;
    text-align: center;
}

.para-parallax-3 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: black;

}
.parallax-4 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Home\ Page/4.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-4 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 49px;
    padding: 10px;
    background-color: #f1c40f;
    color: white;
    text-align: center;
}

.para-parallax-4 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: black;

}
.parallax-5 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Home\ Page/5.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-5 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 49px;
    padding: 10px;
    background-color: green;
    color: white;
    text-align: center;
}

.para-parallax-5 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: black;

}
.parallax-6 {
    width: 100%;
    height: 600px;
    background: url(
        'Pictures/Home\ Page/6.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-6 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 470px;
    height: 49px;
    padding: 10px;
    background-color: violet;
    color: white;
    text-align: center;
}

.para-parallax-6 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: black;

}


.end{
    background-color: black;
    color: white;
    }
.ring-number button{
    color: white;
    background-color: black;
    height: 70px;
    border: 35px solid black;
    margin-left: 200px;
    }
.none{
    color: black;
    }
.instaface{
    color: white;
    }
.instaface a{
    color: white;
    text-decoration: underline;
    }
.end-line{
    color: thin white;
    width: 85%;
    }
.end-titles-main{
    margin-top: 50px;
    }
.end-titles-main{
    text-align: center;
    }

/* .olympics2024{ 
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 60px;
    text-align: justify;
}                               */



/*    ul li ul li{
    display: none;
    }
    ul li:hover ul li{
    display: block;
    width: 130px;
    }                 */


/*ul li{
    list-style: none;
    float: right;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 8px;
    display: block;
    margin-left: 10px;
    height: 50px;
    width: 120px;
    line-height: 45px;
    background-color: green;
    
}

ul li a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 16px;
    text-align: center;
}

ul li a:hover{
    background-color: cyan;
}*/
